include ./mixins.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document

        block css
            link(src="./css/style.css")
        block scripts
            script(src="./js/main.js" type="module")
    body
        block header
            header.header Заголовок по умолчанию
        block content
            section Секция по умолчанию
